[run]
branch = True
cover_pylib = False
concurrency = thread
omit =
    */test/*
    */.sde/*
    */__init__.py
    */site-packages/pylint/*
    */site-packages/tap/*
    */site-packages/termcolor.py
    */site-packages/wrapt/*
    */site-packages/pkg_resources/*
    */site-packages/humanfriendly/*
    */site-packages/cryptography/*
    */site-packages/lazy_object_proxy/*
    */site-packages/six.py
    */site-packages/astroid/*
    */site-packages/psutil/*
    */site-packages/cpuinfo/*
    */site-packages/urllib3/*
    */site-packages/geoip2/*
    */site-packages/idna/*
    */site-packages/chardet/*
    */site-packages/maxminddb/*
    */site-packages/requests/*
    */site-packages/certifi/*
    */site-packages/distro.py
    */site-packages/wget.py
    */site-packages/suisei/sde/*

[paths]
source =
    */site-packages/suisei/*

[report]
precision = 2
skip_covered = False

[html]
directory = ~/.sde/logs/test/coverage
title = SEED Unit Test Coverage Report

[xml]
output = ~/.sde/coverage.xml