[submodule "src/utils"]
	path = src/utils
	url = https://github.com/suisei-entertainment/seed.utils.git
[submodule "src/sde"]
	path = src/sde
	url = https://github.com/suisei-entertainment/seed.sde.git
[submodule "src/seed.components"]
	path = src/seed.components
	url = https://github.com/suisei-entertainment/seed.components.git
[submodule "src/components"]
	path = src/components
	url = https://github.com/suisei-entertainment/seed.components.git
[submodule "src/core"]
	path = src/core
	url = https://github.com/suisei-entertainment/seed.core.git
[submodule "doc"]
	path = doc
	url = https://github.com/suisei-entertainment/seed.documentation.git
[submodule "src/node/supervisor"]
	path = src/node/supervisor
	url = https://github.com/suisei-entertainment/seed.supervisor.git
