[submodule "src/seed.components"]
	path = src/seed.components
	url = https://github.com/suisei-entertainment/seed.components.git
[submodule "src/components"]
	path = src/components
	url = https://github.com/suisei-entertainment/seed.components.git
[submodule "src/core"]
	path = src/core
	url = https://github.com/suisei-entertainment/seed.core.git
[submodule "doc"]
	path = doc
	url = https://github.com/suisei-entertainment/seed.documentation.git
[submodule "src/node/supervisor"]
	path = src/node/supervisor
	url = https://github.com/suisei-entertainment/seed.supervisor.git
[submodule "src/murasame"]
	path = src/murasame
	url = git@github.com:suisei-entertainment/murasame.git
	branch = development
[submodule "src/installer"]
	path = src/installer
	url = git@github.com:suisei-entertainment/seed.installer.git
	branch = development
[submodule "src/protocol"]
	path = src/protocol
	url = git@github.com:suisei-entertainment/seed.protocol.git
	branch = development
[submodule "certificates"]
	path = certificates
	url = git@github.com:suisei-entertainment/seed.certificates.git
	branch = development
